<br>
<ngx-alerts></ngx-alerts>
<div class="container">
    <div class="card full-card bg-dark text-white">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-right">
                    <h3>Bulls & Cows</h3>
                </div>
                <div *ngIf="!won && !lost" class="col-md-2 text-right">
                    <button class="btn btn-xs btn-primary pull-right" (click)="myFunc()">New Player Game</button>
                </div>
                <div class="col-md-2 text-right">
                    <div *ngIf="masterNumber">
                        <b>Tries Left:
                            <kbd>{{tries}}</kbd>
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 col-md-offset-1">
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>History</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let g of history">
                                <td>{{g.guess}} Bulls: {{g.b}} Cows: {{g.c}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table *ngIf="!playMaster" class="table table-bordered table-sm">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>Bull</th>
                                <th>Cow</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>{{result.b || '-'}}</td>
                                <td>{{result.c || '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div *ngIf="masterNumber && !playMaster">
                            <form class="form-inline">
                                <div class="col-md-5">
                                    <input type="number" [disabled]="won || lost" class="number" name="guess" placeholder="make a guess.." [(ngModel)]="guess"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-md-5">
                                    <button (click)="makeGuess(guess)" [disabled]="won || lost" class="btn btn-xs btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="won || lost" class="card bg-dark text-center" style="width: 80%">
                            <div *ngIf="won && !playMaster" class="card-header text-success">
                                <h3>
                                    <b>Congrats!</b>
                                </h3>
                            </div>
                            <div *ngIf="lost" class="card-header text-danger">
                                <h3>
                                    <b>Game Over!</b>
                                    Correct Number was {{ans}}
                                </h3>
                            </div>
                            <div class="card-body text-white">
                                <h5 class="card-title">Play Again?</h5>
                                <p class="card-text">
                                    Start New Game
                                </p>
                                <button class="btn btn-xs btn-primary" (click)="myFunc()">Player</button>
                            </div>

                        </div>
                    </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-md-offset-1">
                    <div class="card bg-light text-center">
                    <div  class="card-header text-success">
                        <h3>
                            <b>Instructions!</b>
                        </h3>
                    </div>
                    <div class="card-body text-dark">
                        
                        <p class="card-text">
                            The Cpu is the master in the game. The Cpu has a 3-digit secret number.
                             The digits must be all different. Then, in turn, the players try to guess
                            the secret number. If the matching digits are in their right positions, 
                            they are "bulls", if in different positions, they are "cows".
                            For ex:-if secret number is 413
                            and your guess is 153 then it is 1 bull and 1 cow.
                            if guess is 356 then 1 cows
                            if guess is 713 then 2 bulls.
                            if you guess 413 you won.
                        </p>
                        
                    </div>
                </div>
                </div>
            
        </div>
    </div>
</div>
</div>